@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
html {
    width: 100%;
    height: 100%;
}
body {
    font-family: Roboto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
html,body{
    overflow-x: hidden;
}
.header {
    /* width: fit-content; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F5F5F6;
    font-size: 11px;
    gap: 4vw;
}
.menu1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    gap: 2vw;
}
img {
    margin-top: 5px;
    cursor: pointer;
    filter: hue-rotate(65deg) brightness(150%);
}
.menu1 p {
    cursor: pointer;
}
.enter {
    border: 1px solid white;
    border-radius: 4px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 33px;
    width: 50px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
}
.enter p {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1 {
    margin: 50px auto 30px;
    font-size: 39px;
    text-align: center;
}
.allBlocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 50px;
    column-gap: 90px;
    flex-wrap: wrap;
}
.block1 p, .block2 p{
    font-size: 12px;
    color: #9F9F9F;
}
#currency-one:focus {
    outline: none;
}
#currency-two:focus {
    outline: none;
}
#currency-one{
    height: 44px;
    border: none;
    overflow: hidden;
}
#currency-two{
    height: 44px;
    border: none;
    overflow: hidden;
}
option{
    width: 68px;
    font-size: 1.2em;
    padding: 10px 0;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #E5E5E5;
    color: #E5E5E5;
}
option:hover {
    background-color: lightgray;
 }
option:checked {
    background-color: #ff419c;
    color: white;
}
.block1-select {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}
.option-first {
    border-radius: 3px 0px 0px 3px;
}
.option-last {
    border-radius: 0px 3px 3px 0px;
}
input {
    width: 260px;
    font-size: 36px;
    font-weight: 700;
    outline: 0;
    margin: 10px 0px 0px 15px;
    border: none;
}
.box {
    border-radius: 3px;
    width: 280px;
    height: 105px;
    margin-top: 20px;
    border: 1px solid #E5E5E5;
    
}
.rate-first, .rate-second {
    margin-top: 0px;
    padding: 20px 0px 5px 15px;
    color: #C6C6C6;
}
.menu2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    background-color: rgb(223, 223, 223);
    margin: auto;
    width: 150px;
    font-size: 15px;
    opacity: 0;
    transform: translate(-30%, 13%);
    pointer-events: none;
}
.menu2 p {
    cursor: pointer;
}
@media (768px <= width <= 1023px) {
    .box {
        width: 260px;
    }
    input {
        width: 240px;
    }
    option {
        width: 64px;
    }
    .rate-first, .rate-second {
        padding: 20px 0px 5px 15px;;
    }
}
@media (370px <= width <= 767px) {
    h1 {
        font-size: 45px;
    }
    .box {
        width: 330px;
    }
    .rate-first, .rate-second {
        padding: 10px 0px 5px 15px;;
    }
    option {
        width: 81px;
    }
    input {
        font-size: 50px;
    }
    .block1 p, .block2 p {
        font-size: 16px;
    }
  }
  @media (320px <= width <= 390px) {
    h1 {
        font-size: 38px;
    }
    .box {
        width: 300px;
    }
    option {
        width: 70px;
    }
    input {
        font-size: 40px;
    }
    .block1 p, .block2 p {
        font-size: 14px;
    }
}
@media (0px <= width <= 767px) {
    .menu1 {
        display: none;
    }
    .header {
        padding: 0.1% 7%;
        justify-content: space-between;
    }
    .menu-bar {
        display: block !important;
        width: 35px;
    }
    .menu-bar:hover + .menu2 {
        opacity: 1;
    }
}